.background1{
	background-color:#D8B4E2;
}

.background2{
	background-color:#BC96E6;
}

h2{
	color:#ffffff !important;
	transform:translateY(500%);
}

.spacing{
	position:fixed;
	top:50%;
	transform:translateY(-50%);
}

